* {padding:0;
margin:0;}

.photo {margin:0px;}

.photo img {border-radius:150px;
}

.navbar {background: #fff;
	border:none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

  .nav > li { float:none; display:block; }

.bio {
	width:15%;
	background: #fff;
	text-align:center;
	float:left;}

.navigation a {text-decoration:none;
padding:3px;
color: #939292;
line-height:0.5 !important;
}


.navigation ul
{list-style-type:none;
text-transform: uppercase;

font-size:10px;
display:block;
font-family: 'Open Sans', sans-serif;}

a#home {color: #16B162;
font-size:12px;
margin-bottom:30px;}

a.title {color: #515151!important;
font-size:12px;}

.image-slider {
	text-align:center;
	float:right;
	width:84%;
	position:relative;
	z-index:-1;
	overflow:hidden;
	}

.image-slider img#slide {height:100vh;
margin-left:-270px;}




.slider-nav ul li
{list-style-type:none;
display:inline-block;
margin-top:-550px;}

.slider-nav img
{border-radius:150px;
}

@media all and (max-width: 699px)  {
  .bio {
    width:100%;
    float:none;
  }

  .image-slider {width:100%;}



}